.myTableHead {
    padding: 10px;
    margin: 0;

    width: 100%;
    background-color: var(--primary-color);
    color: 	#FFFFFF;
}
.mini-heading{
    display: flex;
    flex-direction: row;
    /* border-bottom:1px lightgray solid; */
    /* padding:5px; */
    justify-content: space-between;
    cursor: pointer;
    /*font-weight: bold;*/
}
.inline-it {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inline-it-no-justify {
    display: flex;
    flex-direction: row;
}
.column-it{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.header{
    order: 1;
    flex: 4;
    /* height: 15vh; */
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background: #022c12d3; */
    background: rgb(4, 80, 4)
    /* border: 5px solid peru; */
  
  }
  .header1{
    order: 1;
    flex: 4;
    /* height: 15vh; */
    /* height: 45%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background: #022c12d3; */
    background: rgb(80, 4, 23)
    /* border: 5px solid peru; */
  
  }
  #marquee{
    height:25px;
    margin-top: 1%;
}

/* Make it a marquee */
.marquee {
    /* width: 450px; */
    color:#FF0000;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

 /*Make it move */
@keyframes marquee {
    0%   { text-indent: 80em }
    100% { text-indent: -150em }
}
table{
    color: white;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  width:100%;
  height: 100%;
  }
  
  th, td{
  border: 2px solid white;
  font-size: 1.7vh;
  padding: 7px;
  font-weight: 500;
  
  }
  
  tbody > tr > :nth-child(1)
  {
    text-align: left;
    padding-left: 10px;
  }
  .photo{
    width:100%;
   height:100%;
   /* object-fit:cover; */
 }
 
 .photo2{
   width:100%;
   height:100%;
   /* object-fit:cover; */
 }
 #red{
    background:	#FF0000;
  /* padding: 1em; */
  }
  #blue{
    background: #0000FF;
  /* padding: 1em; */
  }
  .fullContain{
    height:100vh;
  }